h1 {
  font-size: 60px;

  text-align: center;

  color: rgb(18, 216, 0);

  animation: glow 1s ease-in-out infinite alternate;
}

h2 {
  font-size: 30px;

  text-align: center;

  color: rgb(246, 44, 3);
}

.cardContainer {
  background-color: #eae8e7;

  width: 750px;

  height: 500px;

  border-color: #e8ebed;

  margin-left: 28%;

  margin-right: 100%;

  margin-top: 1%;

  border: 2px solid #c2dded;

  border-radius: 10px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgb(255, 254, 254), 0 0 10px #fff, 0 0 15px #43f44f,
      0 0 20px #0073e6, 0 0 25px #e94412, 0 0 30px #0073e6, 0 0 35px #19e612;
  }

  to {
    text-shadow: 0 0 10px rgb(141, 140, 140), 0 0 20px rgb(110, 244, 0),
      0 0 30px #58885f, 0 0 40px #7c97b2, 0 0 50px #13e600, 0 0 60px #cedd41,
      0 0 70px #0073e6;
  }
}
h1 {

  font-size: 60px;

  text-align: center;

  color: rgb(18, 216, 0);

  animation: glow 1s ease-in-out infinite alternate;

}

h2 {

  font-size: 30px;

  text-align: center;

  color: rgb(246, 44, 3);

  

}

.cardContainer{
 background-color:#eae8e7;

  width: 750px;

  height: 500px;

  border-color: #e8ebed;

  margin-left:28%;

  margin-right:100%;

  margin-top:1%;

  border: 2px solid #c2dded;

  border-radius: 10px;
} 


@keyframes glow {

  from {

    text-shadow: 0 0 5px rgb(255, 254, 254), 0 0 10px #fff, 0 0 15px #43f44f, 0 0 20px #0073e6, 0 0 25px #e94412, 0 0 30px #0073e6, 0 0 35px #19e612;

  }

  to {

    text-shadow: 0 0 10px rgb(141, 140, 140), 0 0 20px rgb(110, 244, 0), 0 0 30px #58885f, 0 0 40px #7c97b2, 0 0 50px #13e600, 0 0 60px #cedd41, 0 0 70px #0073e6;

  }

}
